*{
    font-weight: 400;
}
.result{
    width: 100vw;
    height: 100vh;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    display: grid;
    padding: 60px;
    background-image: linear-gradient(#ffffffdc,#ffffffd2),  url("image/logo.png") ;
}
.prname{
    font-size: 30px;
    position: absolute;
    top:50px;
    left: 200px;
    transform: translateX(-150%);
    padding: 20x 10px;
    text-transform: uppercase;
    text-align: center;
    margin-top: auto;
}
.logo>img{
    width: 150px;
    position: absolute;
    right: 60px;
    top: 60px;
}

.res{
    display: flex;
    width:100%;
    justify-content: center;
    margin-top: auto;
    flex-wrap: wrap;
    justify-content:center;
    gap: 150px;
}
.e{
//margin: 55px;
max-width: 250px;
}
._res{
    position: relative;
    margin: auto;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background: rgb(34, 1, 1);
    display: flex;
    text-align: center;
    background-size: cover;
    // img{
    //     height: 150px;
    //     border-radius: 50%;
    // }
    
}
._poslabel{
    text-align: center;
    padding:5px 20px;
    width: max-content;
    margin: auto;
    margin-bottom: 15px;

    font-size: 20px;
    border-radius: 50px;
    color: #fff;
    //backdrop-filter: blur(2px);
    background: linear-gradient(60deg,rgb(31, 30, 26),rgb(122, 5, 126));
}
._res>.pos{
    margin: auto;
    color: white;
    font-size: 85px;
    position: sticky;
    top: 30px;
    left: 30px;
    
    
}
.pos{
    //position: fixed;
    top: 30px;
    left: 30px;

}
.st{ 
     font-size: 3rem;
   
}
.e{
    text-align: center;
    &.pos1{
        transform: scale(1.6);
    }
    &.pos2{
        transform: scale(1.3);
    }
    &.pos3{
        transform: scale(1.3);
    }

    width: max-content;
}
._grade{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 0.596);
    backdrop-filter: blur(3px);
    border: 1px solid lightgray;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    font-size: 2em;
    margin: auto; 
    margin-bottom: 30px;
}
.grade{
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 0.596);
    backdrop-filter: blur(3px);
    border: 1px solid lightgray;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    font-size: 2em;
}
.det{
    text-align: center;
margin-top: 20px;}

.kul{
   border-radius: 20px;
    background: rgb(92, 2, 69);
    width: max-content;
    margin:      auto;
    padding:3px 12px;
    color: #fff;
    margin-top: 5px;
    font-size: 1.9em;
    font-weight: bold;
}
.name{
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1;

    color: rebeccapurple;
    font-family:  sans-serif;
}
.enr2 {
    font-size: 1.5em;
}
.res{
    margin-top: 200px;
}